<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985723193964-0iqbolfe82pkudeedm0k986mc6v7c4tj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985723193964-0iqbolfe82pkudeedm0k986mc6v7c4tj</string>
	<key>API_KEY</key>
	<string>AIzaSyB7gfNqrPYAGDmZJ3bUdRDVKDXsA5clo4c</string>
	<key>GCM_SENDER_ID</key>
	<string>985723193964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.HabitTracker</string>
	<key>PROJECT_ID</key>
	<string>habit-tracker-9736b</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-tracker-9736b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985723193964:ios:f5e0940feaf424eee1a649</string>
	<key>DATABASE_URL</key>
	<string>https://habit-tracker-9736b-default-rtdb.firebaseio.com</string>
</dict>
</plist>